.home {
  margin-top: 60px;
}

.section1 {
  height: 600px;
  background-image: url("military-press.jpg");
  // background-image: url("beach.jpeg");
  background-size: cover;

  h3 {
    color: white;
    font-size: 60px;
    font-weight: lighter;
    margin: 0 auto;
    width: fit-content;
    padding-top: 240px;
  }
}

.section2 {
  height: 200px;
  width: 100%;
  float: left;
  overflow: hidden;
  margin-right: 10%;
  padding-left: 30px;
  padding-right: 30px;
}

.section3 {
  height: 200px;
  width: 100%;
  overflow: hidden;
  background-image: url("space.jpeg");
}
