.home {
  margin-top: 60px;
}

.section1 {
  height: 400px;
  background-image: url("beach.jpeg");
  background-size: cover;
}

.section2 {
  width: 50%;
  float: left;
  overflow: hidden;
  margin-right: 10%;
  padding-left: 30px;
  background-color: red;
}

.section3 {
  overflow: hidden;
  background-image: url("space.jpeg");
  height: -webkit-fill-available;
}
